.postimage {
  height: 400px;
  width: 300px;
}
.matn {
  margin-left: 2rem;
  height: 90%;
  margin-top: 5rem;
  width: 900px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  /* overflow-x: hidden; */
}
.line {
  position: absolute;
  right: 40px;
}
.button {
  height: 460px;
}
h6 {
  display: inline;
}
